<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
    <script src="../js/axios.min.js"></script>
</head>
<body>
    <div id="app">
            用户名:<input type="text" v-model="uname"><br>
            密码:<input type="password" v-model="upwd"><br>
            <input type="button" value="login" @click="login">
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                uname:"",
                upwd:""
            },
            methods:{
                login(){
                    axios.get("http://localhost:8080/user/login",{
                    params:{uname:this.uname,upwd:this.upwd}
                }).then(result=>{
                    console.log(result.data)
                })
                }
            }
        })
    </script>
</body>
</html>