* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
}

/* header部分开始*/
a {
    text-decoration: none;
}

header {
    width: 100%;
    min-width: 1200px;
    height: 36px;
    background: #000;
}

.header_top_left {
    display: flex;
    align-items: center;
}

.header_top_right{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.header_con {
    width: 1200px;
    height: 100%;
    margin: auto;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 36px;
}

.header_top_line{
    width: 1px;
    height: 14px;
    background: #fff;
    margin: 0 14px;
}

.header_left_img{
    width: 25px;
    height: 25px;
    display: block;
    margin-left: 28px;
    margin-right: 6px;
}
.header_right_img{
    margin-left: 28px;
}
.header_con a{
        font-size: 14px;
        color: #fff;
}

/*head_box部分开始*/
.head-box {
    width: 100%;
    min-width: 1200px;
    height: 68px;
    background: #fff;
    border-bottom: 1px solid #D2D2D2;
    box-sizing: border-box;
    position: relative;
}
.head-con {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-con > li {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
ul, li {
    list-style: none;
}
/*head_box部分结束*/

/*head_mask部分开始*/
.head_mask {
    width: 100%;
    height: 0px;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 55px;
    background-color: #fff;
    z-index: 999;
}
.head_product {
    padding: 0 60px;
    overflow: hidden;
    width: 100%;
    height: 160px;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
}
.head_product_list {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 15px;
    float: left;
}
.head_product_list ul {
    margin-left: 400px;
}
ul, li {
    list-style: none;
}
.head_products {
    width: 100%;
    height: 105px;
    float: left;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
/*head_mask部分结束*/
/* header部分结束*/


